:root {
    --primary-color: #055a05;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background: linear-gradient(90geg, var(--primary-color), #087c9f);
    color: #fff;
}

header img {
    width: 150px;
    display: block;
}

header nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

header nav a {
    margin-left: 20px;
    color: var(--accent2-color);
    text-decoration: none;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--heading-font);
}

figcaption {
    text-align: center;
}

.figure_flex {
    display: flex;
}

figure img {
    width: 200px;
}

figure {
    padding: 0;
    margin: 10px;
}

nav,
p,
section,
article {
    margin: 15px;
    padding: 15px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background: var(--accent1-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translateX(-50%);
    background: var(--accent2-color);
    padding: 0.75rem;
    width: 95%;
    max-width: 1100px;
    border-radius: 6px;
}

.hero article img {
    float: right;
    width: 125px;
}

h2 {
    position: relative;
    text-align: center;
    bottom: 15px;
}

.history {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    text-align: center;
    justify-content: space-around;
}

.history-grid {
    display: block;
    place-items: center;
}

section {
    padding: 1rem 0;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #072e3a;
    color: #d8f0f2;
    margin-top: 40px;
}

footer .grid {
    gap: 8px;
}

footer p {
    font-size: 1.2em;
}

footer .sociallinks {
    display: flex;
    gap: 20px;
    align-items: center;
}

footer .sociallinks img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: block;
    filter: brightness(1.2);
}