:root {
    --accent1-color: #264653;
    --accent2-color: #3e3b34;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #f4f4f4;
}

.site-header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    background-color: white;
    color: var(--accent2-color);
    border-bottom: 1px solid #ccc;
}

header nav ul {
    display: flex;
    justify-content: space-around;

}

.logo {
    width: 150px;
    display: grid;
    justify-content: left;
}

header img {
    width: 150px;
    display: block;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    text-align: left;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: white;
    background-color: var(--accent2-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.85;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 128, 128, 0.662);
    padding: 1rem;
    max-width: 780px;

}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    margin: 1rem;
}

.history h2 {
    text-align: center;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 1rem;
    align-items: center;
}

.history-grid img {
    width: 100%;
}

.adventures {
    margin: 1rem;
}

.adventure-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem
}

.adventure-grid figure {
    text-align: center;
}

.adventure-grid img {
    width: 120px
}

.adventure-grid figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

figcaption {
    text-align: center;
}

.figure_flex {
    display: flex;
}

figure img {
    width: 200px;
}

figure {
    padding: 0;
    margin: 10px;
}

.site-footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 1rem;
    background-color: white
}

.socialmedia {
    display: flex;
    gap: 1rem;
}

footer .socialmedia img {
    width: 30px;
    height: auto;
    align-items: flex-end;
}